<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
  <div class="footer-basic">
      <footer>
          <div class="social">
            <a href="https://www.instagram.com/latifisepehr"><i class="icon ion-social-instagram" style="color: white;"></i></a>
            <a href="https://www.linkedin.com/in/sepehrlatifiazad"><i class="icon ion-social-linkedin" style="color: white;"></i></a>
            <a href="#"><i class="icon ion-social-twitter" style="color: white;"></i></a>
            <a href="https://github.com/333pehr"><i class="icon ion-social-github" style="color: white;"></i></a>
          </div>
          <ul class="list-inline">
              <li class="list-inline-item"><a routerLink="" style="color: white;">Home</a></li>
              <li class="list-inline-item"><a routerLink="signin" style="color: white;">Sign-in</a></li>
              <li class="list-inline-item"><a routerLink="signup" style="color: white;">Sign-up</a></li>
          </ul>
          <p class="copyright">SEPEHR LATIFI AZAD &nbsp;&nbsp;&nbsp; 2022</p>
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
