@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);


.card {
  margin: 0 auto;
  margin-top: 5%;
  padding: 5px 30px;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  border: solid white 1px;
  background-color: rgba(255, 255, 255,0.15);
  backdrop-filter: blur(20px) saturate(120%) contrast(200%);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: open 2s cubic-bezier(0.39, 0, 0.38, 1);
}

@-webkit-keyframes open {
  from {
    padding: 0 30px;
    height: 0;
  }
  to {
    height: 470px;
  }
}

h2,
h4 {
  position: relative;
}
h2{
    margin: 20px 0px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
}
h1 {
  float: right;
  color: #fff;
  font-weight: 350;
  font-size: 5.2em;
  line-height: 0.2em;
  text-align: center;
  margin-top: 110px;
  letter-spacing: 3px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

h2 {
  font-weight: 350;
  font-size: 2.25em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1);
}

h3 {
  float: left;
  margin-right: 33px;
  color: #777;
  font-weight: 400;
  font-size: 1em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
}

span {
  margin-left: 24px;
  color: #999;
  font-weight: 300;
}

span span {
  margin-left: 0;
}

.dot {
  font-size: 0.9em;
}

.sky {
  position: relative;
  margin-top: 108px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #03a9f4;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

.sun {
  position: relative;
  top: -3px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffeb3b;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.5s;
}

.cloud {
  position: absolute;
  top: 60px;
  left: 30px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.7s;
}

.cloud:before,
.cloud:after {
  position: absolute;
  display: block;
  content: "";
}

.cloud:before {
  margin-left: -10px;
  width: 51px;
  height: 18px;
  background: #fff;
}

.cloud:after {
  position: absolute;
  top: -10px;
  left: -22px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}

table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  99% {
    -webkit-animation-play-state: paused;
  }
  100% {
    opacity: 1;
  }
}
.table1 {
    font-size: 22.5px;
  }
  .table2 {
    font-size: 22.5px;
    height: 180px;
  }
  .mood {
    font-style: italic;
    color: rgb(196, 196, 196);
    position: relative;
    width: 60%;
    top: 50px;
    text-align: center;
    height: 150px !important;
  }
  .login-top{
      text-align: center;
      color: #fff;
      margin-top: 10px;
      font-size: 32px;
      letter-spacing: 1px;
      font-weight: 700;
  }
  .UserInput{
      width: 100%;
      margin: 30px 0px 0px 0px;
      border-radius: 15px;
      border: 1px solid white;
      padding: 10px 10px 10px 25px;
      background-color: rgba(255, 255, 255, 0.4);
  }
  .UserPass{
      width: 100%;
      margin: 30px 0px 0px 0px;
      border-radius: 15px;
      border: 1px solid white;
      padding: 10px 10px 10px 25px;
      background-color: rgba(255, 255, 255, 0.4);  
  }
  .SubmitButton{
      width: 100%;
      border: 2px solid white;
      padding: 7px 0px;
      border-radius: 10px;
      margin-top: 15px;
      background-color: #1A237E;
      color: #fff;
      font-weight: 700;
  }
  .SubmitButton:hover{
      border: 2px solid #1A237E;
      background-color: #fff;
      color: #1A237E;
      transition: .5s;
  }
  .noAcc{
      margin: 20px 0px 15px 0px;
      text-align: center;
      color: #fff;
  }
  .signIn{
      text-decoration:underline;
      background-color: rgba(0, 0, 0, 0);
      border: 0px;
      color: #1A237E;
      text-align: center;
  }
  .ConfirmPass{
    width: 100%;
    margin: 30px 0px 30px 0px;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 10px 10px 25px;
    background-color: rgba(255, 255, 255, 0.4); 
  }